
/* Genericons fix */
.ctcex-event-details .genericon{
	font-size: 1.2em;
	vertical-align: middle;
}

/* Socials */
.ctcex-socials ul{
	list-style: none;
	display: block;
}
.ctcex-socials ul li{
	display: inline;
}
.ctcex-socials li a[href*='wordpress.org'],
.ctcex-socials li a[href*='facebook.com'],
.ctcex-socials li a[href*='twitter.com'],
.ctcex-socials li a[href*='plus.google.com'],
.ctcex-socials li a[href*='pinterest.com'],
.ctcex-socials li a[href*='tumblr.com'],
.ctcex-socials li a[href*='youtube.com'],
.ctcex-socials li a[href*='flickr.com'],
.ctcex-socials li a[href*='vimeo.com'],
.ctcex-socials li a[href*='instagram.com'],
.ctcex-socials li a[href*='linkedin.com'],
.ctcex-socials li a[href*='foursquare.com'],
.ctcex-socials li a[href*='mailto'] {
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	overflow: hidden;
	vertical-align: middle; 
	width: 32px;
}

.ctcex-socials li a[href*='wordpress.org']::before,
.ctcex-socials li a[href*='facebook.com']::before,
.ctcex-socials li a[href*='twitter.com']::before,
.ctcex-socials li a[href*='plus.google.com']::before,
.ctcex-socials li a[href*='pinterest.com']::before,
.ctcex-socials li a[href*='tumblr.com']::before,
.ctcex-socials li a[href*='youtube.com']::before,
.ctcex-socials li a[href*='flickr.com']::before,
.ctcex-socials li a[href*='vimeo.com']::before,
.ctcex-socials li a[href*='instagram.com']::before,
.ctcex-socials li a[href*='linkedin.com']::before,
.ctcex-socials li a[href*='mailto']::before {
	background: #2d2a26;
	border: 2px solid #e9d5c0;
	border-radius: 50%;
	color: #e9d5c0;
	display: inline-block;
	display: block;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 32px;
	line-height: 1;
	line-height: 1;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s all ease-in-out;
	vertical-align: text-bottom;
	width: 32px; 

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.ctcex-socials li a[href*='wordpress.org']:hover::before,
.ctcex-socials li a[href*='facebook.com']:hover::before,
.ctcex-socials li a[href*='twitter.com']:hover::before,
.ctcex-socials li a[href*='plus.google.com']:hover::before,
.ctcex-socials li a[href*='pinterest.com']:hover::before,
.ctcex-socials li a[href*='tumblr.com']:hover::before,
.ctcex-socials li a[href*='youtube.com']:hover::before,
.ctcex-socials li a[href*='flickr.com']:hover::before,
.ctcex-socials li a[href*='vimeo.com']:hover::before,
.ctcex-socials li a[href*='instagram.com']:hover::before,
.ctcex-socials li a[href*='linkedin.com']:hover::before,
.ctcex-socials li a[href*='mailto']:hover::before {
	background: #e9d5c0;
	border-color: #2d2a26;
	color: #2d2a26;
}
.ctcex-socials li a[href*='wordpress.org']::before,
.ctcex-socials li a[href*='facebook.com']::after,
.ctcex-socials li a[href*='twitter.com']::after,
.ctcex-socials li a[href*='plus.google.com']::after,
.ctcex-socials li a[href*='pinterest.com']::after,
.ctcex-socials li a[href*='tumblr.com']::after,
.ctcex-socials li a[href*='youtube.com']::after,
.ctcex-socials li a[href*='flickr.com']::after,
.ctcex-socials li a[href*='vimeo.com']::after,
.ctcex-socials li a[href*='instagram.com']::after,
.ctcex-socials li a[href*='linkedin.com']::after,
.ctcex-socials li a[href*='mailto']::after {
	display: none;
}

/* FontAwesome Socials */
.fa.ctcex-socials li a[href*='wordpress.org']::before,
.fa.ctcex-socials li a[href*='facebook.com']::before,
.fa.ctcex-socials li a[href*='twitter.com']::before,
.fa.ctcex-socials li a[href*='plus.google.com']::before,
.fa.ctcex-socials li a[href*='pinterest.com']::before,
.fa.ctcex-socials li a[href*='tumblr.com']::before,
.fa.ctcex-socials li a[href*='youtube.com']::before,
.fa.ctcex-socials li a[href*='flickr.com']::before,
.fa.ctcex-socials li a[href*='vimeo.com']::before,
.fa.ctcex-socials li a[href*='instagram.com']::before,
.fa.ctcex-socials li a[href*='linkedin.com']::before,
.fa.ctcex-socials li a[href*='mailto']::before {
	font-family: FontAwesome;
	/*font-family: Genericons;*/
}
.fa.ctcex-socials li a[href*='wordpress.org']:before { content: '\f19a'; }
.fa.ctcex-socials li a[href*='facebook.com']:before { content: '\f082'; }
.fa.ctcex-socials li a[href*='twitter.com']:before { content: '\f081'; }
.fa.ctcex-socials li a[href*='plus.google.com']:before { content: '\f0d4'; }
.fa.ctcex-socials li a[href*='pinterest.com']:before { content: '\f209'; }
.fa.ctcex-socials li a[href*='tumblr.com']:before { content: '\f174'; }
.fa.ctcex-socials li a[href*='youtube.com']:before { content: '\f166'; }
.fa.ctcex-socials li a[href*='flickr.com']:before { content: '\f16e'; }
.fa.ctcex-socials li a[href*='vimeo.com']:before { content: '\f194'; }
.fa.ctcex-socials li a[href*='instagram.com']:before { content: '\f16d'; }
.fa.ctcex-socials li a[href*='linkedin.com']:before { content: '\f08c'; }
.fa.ctcex-socials li a[href*='mailto']:before { content: '\f0e0'; }

/* Genericons Socials */
.gi.ctcex-socials li a[href*='wordpress.org']::before,
.gi.ctcex-socials li a[href*='facebook.com']::before,
.gi.ctcex-socials li a[href*='twitter.com']::before,
.gi.ctcex-socials li a[href*='plus.google.com']::before,
.gi.ctcex-socials li a[href*='pinterest.com']::before,
.gi.ctcex-socials li a[href*='tumblr.com']::before,
.gi.ctcex-socials li a[href*='youtube.com']::before,
.gi.ctcex-socials li a[href*='flickr.com']::before,
.gi.ctcex-socials li a[href*='vimeo.com']::before,
.gi.ctcex-socials li a[href*='instagram.com']::before,
.gi.ctcex-socials li a[href*='linkedin.com']::before,
.gi.ctcex-socials li a[href*='mailto']::before {
	font-family: Genericons;
}
.gi.ctcex-socials li a[href*='wordpress.org']:before { content: '\f205'; }
.gi.ctcex-socials li a[href*='facebook.com']:before { content: '\f204'; }
.gi.ctcex-socials li a[href*='twitter.com']:before { content: '\f202'; }
.gi.ctcex-socials li a[href*='plus.google.com']:before { content: '\f206'; }
.gi.ctcex-socials li a[href*='pinterest.com']:before { content: '\f209'; }
.gi.ctcex-socials li a[href*='tumblr.com']:before { content: '\f214'; }
.gi.ctcex-socials li a[href*='youtube.com']:before { content: '\f213'; }
.gi.ctcex-socials li a[href*='flickr.com']:before { content: '\f211'; }
.gi.ctcex-socials li a[href*='vimeo.com']:before { content: '\f212'; }
.gi.ctcex-socials li a[href*='instagram.com']:before { content: '\f215'; }
.gi.ctcex-socials li a[href*='linkedin.com']:before { content: '\f207'; }
.gi.ctcex-socials li a[href*='mailto']:before { content: '\f410'; }
